.center-row{
  margin: auto !important;
  max-width: 800px;
}

.center-row-two{
  margin: auto !important;
  max-width: 1000px;

}

.btn{
  margin: 20px;
}

.jumbotron{
  background-color: light-grey;
}

#particles-js{
  height:20px;
}

#particle {
  background-color: #b61924;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}
#overlay {
  position: relative;
}
