.center-row{
  margin: auto !important;
  max-width: 800px;
}

.center-row-two{
  margin: auto !important;
  max-width: 1000px;

}

.btn{
  margin: 20px;
}

.jumbotron{
  background-color: light-grey;
}

/* #home{
  height: 500px
} */
